.header{
	background-color: #2ecc71;
	height: 100px;
}
.img1{
	height: 80%;
}
.content{
	margin-top: 20px;
}
.publ{
	font-weight: 800;
}
.dom{
	font-weight: 800;
}
.hos{
	font-weight: 800;
}
.li{

}